
  <h2 mat-dialog-title>{{tituloAccion}} Producto</h2>
  <mat-dialog-content>

    <form [formGroup]="formProducto">
      <mat-grid-list cols="1" rowHeight="100px">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput autocomplete="off" formControlName="productoDescripcionF">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoriaIDF">
              <mat-option *ngFor="let item of listaCategorias" [value]="item.categoriaID">
                {{item.categoriaDescripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput autocomplete="off" formControlName="productoStockF"  type="number">
            <mat-icon matSuffix>edit_square</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput autocomplete="off" formControlName="productoPrecioF"  type="text">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Vencimiento</mat-label>
            <input matInput autocomplete="off" formControlName="fechaVencimientoF">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="productoEstadoF">
              <mat-option [value]="1">Activo</mat-option>
              <mat-option [value]="0">No Activo</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Volver</button>
    <button mat-raised-button
            color="primary"
            [disabled]="formProducto.invalid"
            (click)="agregarEditarProducto()">
      {{botonAccion}}
    </button>
  </mat-dialog-actions>