.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}


.dashboard-card-content {
  text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> ae69534d15a103bd57b4598153aab38fd98cbfba
