
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-acciones {
  max-width: 136px;
  text-align: center;
<<<<<<< HEAD
}

.color-naranja {
  color: white;
  font-weight: bold;
  background-color: rgb(255, 162, 0, 0.8);
}

.color-rojo {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 47, 0, 0.8);
=======
>>>>>>> ae69534d15a103bd57b4598153aab38fd98cbfba
}