
<h1 style="margin:20px 0px 0px 40px">Nueva Venta {{numeroDeVenta}}</h1>
<mat-card style="margin: 20px 40px 40px 40px">

  <mat-card-content>

    <!-- FILA 1 -->
    <mat-grid-list cols="4" rowHeight="80px">
      <!-- Columna 1y2 -->
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <!-- Columna 3 -->
      <mat-grid-tile>
        <mat-form-field class="full-width" appearance="fill"  style="margin-left: 40px;">
          <mat-label>Tipo de pago</mat-label>
          <mat-select [(value)]="tipodePagoPorDefecto">
            <mat-option value="Efectivo">Efectivo</mat-option>
            <mat-option value="Tarjeta">Tarjeta</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <!-- Columna 4 -->
      <mat-grid-tile>
        <button mat-raised-button color="accent" style="width: 80%;">
          Total: S/. {{ventaTotal.toFixed(2)}}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- FILA 2 -->
    <form [formGroup]="formProductoVenta" (ngSubmit)="agregarProductoParaVenta()">
      <mat-grid-list cols="4" rowHeight="80px">
        <!-- Columna 1y2 -->
        <mat-grid-tile [colspan]="2">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>¿Nombre del Producto?</mat-label>
            <input 
                   matInput
                   type="text"
                   placeholder="Buscar..."
                   [matAutocomplete]="auto"
                   formControlName="productoDescripcionF"
            >
            <mat-autocomplete 
              autoActiveFirstOption 
              #auto="matAutocomplete" 
              (optionSelected)="productoParaVenta($event)"
              [displayWith]="mostrarProducto"
            >
              <mat-option *ngFor="let option of listaProductosFiltro" [value]="option">
                {{option.productoDescripcion}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <!-- Columna 3 -->
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="fill" style="margin-left: 40px;">
            <mat-label>¿Cantidad?</mat-label>
            <input matInput type="number" formControlName="productoCantidadF" min="1">
          </mat-form-field>
        </mat-grid-tile>
        <!-- Columna 4 -->
        <mat-grid-tile>
          <button mat-raised-button color="primary" style="width: 80%;" [disabled]="formProductoVenta.invalid">
            <mat-icon mat-lis-icon>add</mat-icon> Agregar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <!-- FILA 3 -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="datosDetalleVenta">

        <ng-container matColumnDef="productoDescripcion">
          <th mat-header-cell *matHeaderCellDef>PRODUCTO</th>
          <td mat-cell *matCellDef="let element"> {{element.productoDescripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="productoCantidad">
          <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.productoCantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="productoPrecio">
          <th mat-header-cell *matHeaderCellDef>PRECIO</th>
          <td mat-cell *matCellDef="let element"> {{element.productoPrecio}} </td>
        </ng-container>

        <ng-container matColumnDef="productoTotal">
          <th mat-header-cell *matHeaderCellDef>TOTAL</th>
          <td mat-cell *matCellDef="let element"> {{element.productoTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="width:80px">¿Eliminar?</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="eliminarProducto(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    
    <!-- FILA 4 -->
    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile [colspan]="3"></mat-grid-tile>
      <mat-grid-tile>
          <button 
              mat-raised-button 
              color="primary" 
              style="width: 80%;" 
              [disabled]="listaProductosParaVenta.length< 1 || bloquearBotonRegistrar" 
              (click)="registrarVenta()">
            <mat-icon>new_label</mat-icon>Registrar
          </button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

</mat-card>
