* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  min-height: 800px;
  max-height: 800px;
  
  width: 50%;
  min-width: 600px;
  max-width: 600px !important;
  
  align-items: center;
  margin: auto;
}

.loginCard {
  display: flex;
  flex-direction: column;  
  margin:4em auto;
  text-align:center;
  padding: 30px;
  border: 1px solid black;
}

.header {
  text-align: center;
  padding: 20px;
}

.full-width {
  width: 80%;
}


