<h1 style="margin:20px 0px 0px 40px">Términos y Condiciones</h1>
<br>
<p style="text-align: justify;">
  Por medio del presente documento, <strong>FARMACIA GALUMA S.A.C.</strong> (en adelante, <strong>FARMACIA GALUMA</strong>), 
  pone al alcance de los clientes los Términos y Condiciones para el uso de la web, 
  mediante la cual se podrá adquirir determinados productos.
</p>
<br>  
<p style="text-align: justify;">
  <strong>FARMACIA GALUMA</strong> se reserva el derecho de actualizar y/o modificar los Términos y Condiciones 
  que detallamos a continuación en cualquier momento, sin previo aviso. 
  Por esta razón recomendamos revisar los Términos y Condiciones cada vez que utilice la página web. 
</p>
<br>

<br>
<mat-accordion>
  <!--  -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>FARMACIA GALUMA</strong>
      </mat-panel-title>
      <mat-panel-description>
        Términos y Condiciones
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="text-align: justify;">
      Ante cualquier queja, reclamo, solicitud o consulta, 
      puedes enviarnos un correo electrónico a atencionalcliente@farmaciagaluma.com
    </p>
  </mat-expansion-panel>

  <!-- 1 -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>1</strong>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        De los PRODUCTOS
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="text-align: justify;"><strong>FARMACIA GALUMA</strong> como empresa responsable, se compromete a adoptar las precauciones y medidas que sean necesarias 
      para poner a su disposición toda la información relevante sobre sus productos para que así usted pueda tomar una decisión de consumo adecuada. 
      No obstante, le informamos que las imágenes de los productos que aparecen en este sitio web son referenciales, 
      y que la comercialización de estos se encuentra sujeto al stock disponible. </p>
    <br>
    <p style="text-align: justify;">Reafirmando lo anterior, recalcamos que la información relativa a precios, cualidades y características de los productos, su disponibilidad, 
      condiciones de venta (entre otras) será establecida y actualizada por <strong>FARMACIA GALUMA</strong>, la cual realizará sus mayores esfuerzos 
      a fin de brindar información correcta y precisa. </p>
    <br>
    <p style="text-align: justify;">Para el caso de productos que son vendidos bajo receta médica se identificarán con un ícono de “Receta Médica”.</p>
    <br>
    <p style="text-align: justify;">En caso de presentarse un error involuntario tipográfico en alguno de nuestros precios o stock, 
      se contactará al usuario por medio de correo electrónico o celular para informar debidamente sobre la situación, 
      a efectos de que este pueda brindar su conformidad para atender el pedido bajo el precio real y stock disponible o, 
      en su defecto, solicitar la cancelación del pedido.</p>
    <br>
    <p style="text-align: justify;">De no ser posible contactar al usuario dentro de las veinticuatro (24) horas siguientes a la comunicación, se cancelará el pedido. 
      En caso el pedido se haya pagado a través de “Pago en Línea”, se procederá con el proceso de extorno en el plazo de 30 a 40 días calendario, 
      según los plazos establecidos por la entidad bancaria a la que pertenece la tarjeta utilizada para la compra. 
      Ello, será notificado al correo electrónico consignado como dato de contacto.</p>
    <br>
    <p style="text-align: justify;">Si el error tipográfico involuntario sobre el precio o stock de los productos es manifiestamente irracional, <strong>FARMACIA GALUMA</strong>
       no se encontrará obligada a entregar los productos bajo dichas condiciones.</p>
  </mat-expansion-panel>

  <!-- 2 -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>2</strong>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        Política de Cambios y Devoluciones
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="text-align: justify;"><strong><u>POLÍTICA DE CAMBIOS Y DEVOLUCIONES</u></strong></p>
    <br>
    <p style="text-align: justify;">En <strong>FARMACIA GALUMA</strong>, nuestra prioridad es cuidar de la salud y 
      garantizar la satisfacción de nuestros clientes; por ello, contamos con una política de cambios 
      y devoluciones conforme a la cual nuestros clientes podrán ejercer tal derecho, 
      de encontrarse en los supuestos que se detallan en el presente documento. </p>
    <br>
    <p style="text-align: justify;">Asimismo, le indicamos que, para el recojo de Fórmulas Magistrales 
      podrá realizarse en un plazo máximo de 15 días después de haber efectuado el pago.</p>
    <br>
    <p style="text-align: justify;">A continuación, se detallan algunas consideraciones para cambios o devoluciones:</p>
    <br>
    <p style="text-align: justify;">&nbsp;1. Consideraciones Generales:</p>
    <br>
    <p style="text-align: justify;">a) El cliente deberá acercarse dentro de los horarios establecidos de atención a cualquier establecimiento de <strong>FARMACIA GALUMA</strong>.</p>
    <br>
    <p style="text-align: justify;">b) El plazo límite para los cambios o devoluciones es de 07 días hábiles de haber recibido el producto. Para ello, 
      <strong>FARMACIA GALUMA</strong> dará respuesta al cliente en un plazo no mayor a 7 días hábiles de haber recepcionado la solicitud del cliente.</p>
    <br>
    <p style="text-align: justify;">c) El cliente deberá acercarse dentro de los horarios establecidos de atención a cualquier establecimiento de Farmacia Galuma.</p>
    <br>
    <p style="text-align: justify;">d) El cliente deberá acercarse dentro de los horarios establecidos de atención a cualquier establecimiento de Farmacia Galuma.</p>
    <br>
    <p style="text-align: justify;">e) El cliente deberá acercarse dentro de los horarios establecidos de atención a cualquier establecimiento de Farmacia Galuma.</p>
    <br>
    <p style="text-align: justify;">f) El cliente deberá acercarse dentro de los horarios establecidos de atención a cualquier establecimiento de Farmacia Galuma.</p>
    <br>
    

  </mat-expansion-panel>
</mat-accordion>