<h1 style="margin:20px 0px 0px 40px">Contáctenos</h1>
<br>

<mat-card class="example-card">
  
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>FARMACIA GALUMA</mat-card-title>
    <mat-card-subtitle>Farmacia</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      Nuestro equipo experto en salud está listo para resolver tus dudas y atender tus mensajes.       
    </p>
    <br>
    <p>
      Además, no olvides que te brindaremos toda la información que necesites y te asesoraremos para que puedas realizar tu compras con total satisfacción.
    </p>
  </mat-card-content>  
</mat-card>

    <mat-divider></mat-divider>
    <mat-list role="list">      
      <mat-list-item role="listitem"><mat-icon>add_location</mat-icon> MZA. I1 LOTE. 25 URB. SAN ANDRES ETAPA 5</mat-list-item>
      <mat-list-item role="listitem"><mat-icon>room</mat-icon> LA LIBERTAD / TRUJILLO / VICTOR LARCO HERRERA</mat-list-item>
      <mat-list-item role="listitem"><mat-icon>email</mat-icon> farmaciagaluma@hotmail.com</mat-list-item>
      <mat-list-item role="listitem"><mat-icon>phone</mat-icon> 929395115 - 044282114</mat-list-item>
    </mat-list>



